<!DOCTYPE html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../shared/stylesheets/headers.css" />
    <link rel="stylesheet" type="text/css" href="../../shared/stylesheets/tables.css" />
    <link rel="stylesheet" type="text/css" href="../../shared/stylesheets/loading.css" />
    <link rel="stylesheet" type="text/css" href="../../shared/stylesheets/actionBar.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/checkout.css" />
    <script src="../javascripts/checkout.js"></script>
    <title>Checkout</title>
</head>

<body onload="checkout()">
    <div class="header">
        <div class="header_title">Checkout</div>
        <img class="headerImg" src="../../shared/media/IDEAS LAB 3.svg">
    <!--<div id="checkout"></div>-->
  </div>
  <table id="fileTable" border="0">
  </table>
  <div class="button_wrapper">
  </div>
  </body>
</html>
