<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">  
    <link rel="stylesheet" type="text/css" href="../../shared/stylesheets/headers.css" />
    <link rel="stylesheet" type="text/css" href="../../shared/stylesheets/tables.css" />
    <link rel="stylesheet" type="text/css" href="../../shared/stylesheets/loading.css" />
    <link rel="stylesheet" type="text/css" href="../user/stylesheets/choose_equipment.css" />
    <script src="../user/javascripts/choose_equipment.js"></script>
    <title>Welcome!</title>
</head>

<body onload="findUser('2263153347')">
    <div class="header">
        <div class="header_title">Welcome Michael! Choose equipment</div>
        <img class="headerImg" src="../../shared/media/IDEAS LAB 3.svg">
    </div>
    <div id="equipment_grid"></div>
</body>

</html>
