<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../shared/stylesheets/headers.css" />
    <link rel="stylesheet" type="text/css" href="../../shared/stylesheets/tables.css" />
    <link rel="stylesheet" type="text/css" href="../../shared/stylesheets/loading.css" />
    <link rel="stylesheet" type="text/css" href="../../shared/stylesheets/actionBar.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/confirmation.css" />
    <script src="../javascripts/confirmation.js"></script>
    <title>Your Print has Started</title>
</head>

<body onload="confirmation()">
    <div class="header">
        <div class="header_title">Your Print has Started</div>
        <img class="headerImg" src="../../shared/media/IDEAS LAB 3.svg">
    <!--<div id="confirmation"></div>-->
    </div>
    <div class='confirmation_wrapper'>

    </div>
  </body>
</html>
